/* Create color and font variables */
:root {
    /* Colours */
    --color-text: #fff;
    --btn-color: black;
    --color-primary: #ffffff;
    --color-secondary: rgba(255,0,0,0.4);
    --color-dark: rgba(255,0,0,0.4);
    --color-bg: black;

    /* Fonts */
    --font-roboto: "Roboto";
}